.sidebar-widget{
    margin-bottom:15px;
}

.sidebar-widget__title{
    background-color: #f89d00;
    border-top-left-radius: 7px;
    color: #fff;
    text-transform: uppercase;
    padding: 0 15px;
    margin-bottom: 10px;
    font-family: "HelveticaW01-TextbookBd 709911",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
}

.sidebar-widget__wrapper{
    border-radius:5px;
    border:solid 1px #bfbfbf;
    background-color:#fff;
}

.sidebar-widget__header{
    font-size:12px;
    color:#000;
    clear:both;
    padding:20px 15px;
    font-weight:bold;
}

.sidebar-widget__header .twitter-image{
    float:right;
    position:relative;
    top:-10px;
}

.sidebar-widget__body{
    background-color:#e5e5e5;
    padding:20px 15px;
    color:#7e7e7e;
}

.sidebar-widget__body form .clear{
    clear:both;
}

.sidebar-widget__body form label{
    font-size:12px;
    display:block;
    width:100%;
    color:#a4a4a4;
    margin-left:20px;
    margin-bottom:10px;
}

.sidebar-widget__body form .before-input{
    display:inline-block;
    width:15px;
    text-align:center;
    font-size:18px;
}


.sidebar-widget__body form input[type="submit"]{
    float:right;
    margin-right:30px;
    margin-top:15px;
    font-size:16px;
    font-weight:bold;
    letter-spacing:-0.02em;
    text-shadow:0 1px 0 #fff;
    padding:5px 10px;
    border:none;
    background: #f6f6f6; /* Old browsers */
    background: -moz-linear-gradient(top, #f6f6f6 0%, #acacac 63%, #e9e9e9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(63%,#acacac), color-stop(100%,#e9e9e9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f6f6f6 0%,#acacac 63%,#e9e9e9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f6f6f6 0%,#acacac 63%,#e9e9e9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f6f6f6 0%,#acacac 63%,#e9e9e9 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f6f6f6 0%,#acacac 63%,#e9e9e9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#e9e9e9',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: #d1d1d1 0 2px 0 0;
    -moz-box-shadow: #d1d1d1 0 2px 0 0; /* color, h-offset, v-offset, blur, spread */
    box-shadow: #d1d1d1 0 2px 0 0; /* inset is optional */
    cursor:pointer;
    position:relative;
}

.sidebar-widget__body form input[type="submit"]:active, .sidebar-widget__body form input[type="submit"]:focus{
    -webkit-box-shadow: #d1d1d1 0 0 0 0;
    -moz-box-shadow: #d1d1d1 0 0 0 0; /* color, h-offset, v-offset, blur, spread */
    box-shadow: #d1d1d1 0 0 0 0; /* inset is optional */
    outline:0;
    top:2px;
}

.sidebar-widget__body .tip{
    display:inline-block;
    margin-left:10px;
    font-size:12px;
}

.tip{
    position:relative;
    display:block;
}

.tip__button{
    cursor:pointer;
    background-color:#999999;
    border-radius:50%;
    font-size:12px;
    color:#fff;
    width:15px;
    height:15px;
    line-height:15px;
    text-align:center;
}

.tip__body{
    position:absolute;
    border-radius:5px;
    background-color:#000;
    color:#ababab;
    padding:10px;
    max-width:170px;
    display:none;
    top: -10px;
    left: 32px;
}

.tip__body:before{
    content:"";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 7.5px 10px 7.5px 0;
    border-color: transparent #000000 transparent transparent;
    position: absolute;
    top: 10px;
    left: -10px;
}

.tip:hover .tip__body{
    display:block;
}

.suggested-profiles{
    margin-top:-8px;
    border-bottom:1px solid #e5e5e5;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
}

.panel-group .panel {
    margin-bottom: 3px;
    overflow: hidden;
}

.panel-default>.panel-heading {
    color: #000;
    background-color: #ededee;
}

.panel-default>.panel-heading a {
    color:#000;
    font-weight:bold;
    font-size:13px;
    text-decoration:none;
    position:relative;
    display:block;
    width:100%;
    padding:7px 10px;
}

.panel-default>.panel-heading a span{
    position:absolute;
    right:30px;
    font-size:30px;
    top:-5px;
}

.panel-default>.panel-heading a span.collapse-open {
    display:none;
}

.panel-default>.panel-heading a span.collapse-close {
    display:block;
}

.panel-default>.panel-heading a.collapsed span.collapse-open {
    display:block;
}

.panel-default>.panel-heading a.collapsed span.collapse-close {
    display:none;
}

.collapse {
    display: none;
}

.collapse.in {
    display: block;
}

.collapsing{
    position:relative;
    overflow:hidden;
    -webkit-transition:height .35s ease;
    -moz-transition:height .35s ease;
    -o-transition:height .35s ease;
    transition:height .35s ease;
}

ul.suggested-profiles-list{
    padding:14px 0;
    margin:0;
    list-style:none;
}

ul.suggested-profiles-list li{
    margin-bottom:5px;
    width:100%;
    display: inline-block;
    position:relative;
}

ul.suggested-profiles-list li:after{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

ul.suggested-profiles-list li .suggested-profile-avatar{
    width:60px;
    height:60px;
    overflow:hidden;
    float:left;
}

ul.suggested-profiles-list li .suggested-profile-details{
    float:left;
    margin-left:10px;
    font-size:13px;
    font-weight:bold;
}

ul.suggested-profiles-list li .suggested-profile-details .suggested-profile-name{
    text-transform:uppercase;
    margin-bottom:5px;
}

ul.suggested-profiles-list li .suggested-profile-details .suggested-profile-name a{
    text-decoration: none;
    color: #000;
}

ul.suggested-profiles-list li .suggested-profile-details .suggested-profile-info, ul.suggested-profiles-list li .suggested-profile-details .suggested-profile-country{
    color:#636466;
    margin-bottom:5px;
}

ul.suggested-profiles-list li a.connection{
    display: block;
    position:absolute;
    right:0;
    bottom: 5px;
    height: 25px;
    width: 65px;
    text-align:center;
    font-size: 13px;
    line-height:26px;
    text-decoration:none;
    color: #fff;
    cursor: pointer;
    background: #008eff;
    font-weight: 700;
    transition: background-color 0.25s ease-out;
}

ul.suggested-profiles-list li a.connection:hover, ul.suggested-profiles-list li a.connection:active{
    background: #356496;
}

ul.suggested-profiles-list li a.remove{
    position:absolute;
    top:0;
    right:11px;
    text-decoration:none;
    color:#cecece;
    font-size:13px;
}

ul.suggested-profiles-list li a.remove:hover{
    color:#a0a0a0;
}
