#cta-banner {
    background: #d9d9d9;
    width: 100%;
    text-align: center;
    z-index: 999;
}

#cta-banner-content {
    margin: 0 auto;
    width: 491px;
    height: 70px;
    min-height: 70px;
    text-align: right;
}

#cta-banner-content > p {
    width: 345px;
    height: 50px;
    float: left;
    display: table-cell;
    vertical-align: middle;
    padding-top: 10px;
    background: url("/images/sporpleO.gif") no-repeat left center;
    font-family: 'HelveticaW01-TextbookRg 709917', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
}

span.blue {
    font-weight: bold;
    color: #2B84B5;
    letter-spacing: -1px;
}

#cta-banner-content > div.border {
    background: url("/images/vert_line.gif") no-repeat;
    float: left;
    width: 6px;
    height: 37px;
    margin-top: 13px;
    margin-left: 20px;
    margin-right: 20px;
}

#cta-banner-content > a {
    width: 100px;
    height: 33px;
    display: block;
    float: right;
    background: url("/images/join.gif") no-repeat;
    margin-top: 13px;
}

#cta-banner-content > a:hover {
    background: url("/images/join_over.gif") no-repeat;
}
