*.swp

# Intellij-created files
*.iml
.idea/
local.properties
/*/out
build
/*/*/production
*.iml
*.iws
*.ipr
*~
*.swp
*.bin
*.lock
.gradle
*.pyc

*.DS_STORE
build/
/*/*/build
migrations/
*/migrations/
venv/
**/static/uploads/*
**/node_modules/*
