/**
 * lost password
 */

/**
 * title
 */

#main_container
{
  background-color: #e0e0e0;
}
#main_container h1
{
  font-family: "HelveticaW01-TextbookBd 709911", Helvetica, Arial, sans-serif;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

#main_container .Content
{
  padding-top: 8px;
  padding-bottom: 20px;
  text-align: center;
}

#main_container .Content form .control-group input
{
  border: 1px solid #c7c8ca;
  border-radius: 3px;
  color: #5d5e60;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.4) inset;
  font-size: 14px;
  height: 25px;
  padding: 0 3px;
  display: inline-block;
}

#main_container .Content form .control-group p.ErrorMessage
{
  display: inline-block;
  background-color: #939598;
  min-height: 12px;
  max-width: 400px;
  padding: 7px 10px;
  color: #FFFFFF;
  line-height: 18px;
  margin: 10px auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#main_container .Content form .control-group .Button
{
  background: #8f8f93;
  border: 1px solid #7e7e7e;
  box-shadow: 1px -2px 5px rgba(255,255,255,0.4) inset;
  border-radius: 14px;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  margin: 13px 0 0;
  padding: 7px 15px;
  text-decoration: none;
  line-height: 13px;
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

#main_container .Content form .control-group .Button.Login
{
  background: #2674b2;
  border: 1px solid #1f4586;
  box-shadow: 1px -2px 5px rgba(255,255,255,0.4) inset;
  border-radius: 14px;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  margin: 13px 0 0;
  padding: 7px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

#main_container .Content form .control-group .Button.Action
{
  background: #2674b2;
  border: 1px solid #2674b2;
}

hr
{
  border: 0;
  background: #f89d00;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,142,5,.15)), color-stop(50%,rgba(255,142,5,1)), color-stop(100%,rgba(255,142,5,.15)));
  background: -webkit-linear-gradient(left, rgba(255,142,5,.15) 0%, rgba(255,142,5,1) 50%, rgba(255,142,5,.15) 100%);
  background:    -moz-linear-gradient(left, rgba(255,142,5,.15) 0%, rgba(255,142,5,1) 50%, rgba(255,142,5,.15) 100%);
  background:     -ms-linear-gradient(left, rgba(255,142,5,.15) 0%, rgba(255,142,5,1) 50%, rgba(255,142,5,.15) 100%);
  background:      -o-linear-gradient(left, rgba(255,142,5,.15) 0%, rgba(255,142,5,1) 50%, rgba(255,142,5,.15) 100%);
  background:         linear-gradient(left, rgba(255,142,5,.15) 0%, rgba(255,142,5,1) 50%, rgba(255,142,5,.15) 100%);
  height: 5px;
  margin: 0px;
}
