#container.reset-password {
    text-align: center;
    font-family: "HelveticaW01-TextbookBd 709911", Helvetica, Arial, sans-serif;
    padding-bottom: 100px;
    border-left: none;
}

#container.reset-password > h2 {
    margin-top: 15px;
    color: #6f6f6f;
    font-size: 16px;
    text-shadow: 0 0 1px #fff;
    font-weight: bold;
}

#container.reset-password.changed-password > h2 {
    margin: 0 auto;
    margin-top: 75px;
    width: 230px;
}

#container.reset-password input, #container.reset-password button {
    display: block;
    margin: 0 auto;
    padding: 0 13px;
    width: 231px;
    height: 38px;
    margin-top: 15px;
    background-color: #ebebeb;
    border: 0;
    font-size: 16px;
    color: #6f6f6f;
    border-radius: 2px;
}

#container.reset-password input.error {
    border: 1px solid #b20000;
    padding: 0 12px;
    margin-top: 14px;
}

#container.reset-password p.error {
    color: #b20000;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: -10px;
}

#container.reset-password button {
    background-color: #01407c;
    color: #fff;
    padding: 0;
    width: 257px;
}

#container.reset-password > a {
    text-decoration: none;
}

#container.reset-password button:hover {
    background-color: #d47e27;
    color: #fff;
    padding: 0;
    width: 257px;
    cursor: pointer;
}

#container.reset-password > input::-webkit-input-placeholder, /* WebKit browsers */
#container.reset-password > input:-moz-placeholder, /* Mozilla Firefox 4 to 18 */
#container.reset-password > input::-moz-placeholder, /* Mozilla Firefox 19+ */
#container.reset-password > input:-ms-input-placeholder /* Internet Explorer 10+ */
{
    color: #6f6f6f;
    opacity: 1;
}
