{% set role = current_user.user.role_slug %}
<div class="plan premium-popup">
    <div class="description">
        Upgrade to premium membership to message other users.<br/>
        Here's how getting premium membership can boost your athlete search.
    </div>
    <ul>
    {% if role == 'club' %}
        {% include 'plan/benefits_club.html' %}
    {% else %}
        {% include 'plan/benefits_agent.html' %}
    {% endif %}
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn--large btn--blue btn--side-by-side" href="{{ url_for('plan.checkout') }}">Get Premium</a>
        </div>
        <div class="col-md-6">
            <button class="btn btn--large btn--secondary btn--side-by-side modal-close">Cancel</button>
        </div>
</div>
