{% extends 'base.html' %}
{% block content %}
<div class="center" style="width:100%; padding-top:40px;min-height:400px;">
<h1>Recover Password</h1>
{% if success %}
{{ success }}
{% else %}
    <div class="center" style="padding:20px; margin: auto; max-width:300px;">
        <form action="{{ url_for('forgot_password') }}" method="post"
            class="form listing__edit-form">
            <div class="short-row">
                <div class="form__row">
                    <input type="email" name="username" placeholder="Enter your email"/>
                    {% if error %}
                    {% endif %}
                </div>
            </div>
            <div class="control-group">
                <button class="Button Action" type="submit">
                    Recover Password
                </button>
                <a class="Button" onclick="history.back()"
                    style="text-decoration:underline; cursor:pointer;">
                    Cancel
                </a>
            </div>
        </form>
        </div>
{% endif %}
</div>
{% endblock content %}

