.comments {
    .comment_textarea {
        display: inline-block;
        width: 80%;
        vertical-align: top;
    }
    .btn.comment_button {
        vertical-align: top;
        height: auto;
        padding: 5px 10px;
        margin-top: 5px;
    }
}
