{% import 'forms/base.html' as base %}
{% extends 'base.html' %}
{% block content %}
<section id="container" class="password">
    <section id="profile_basic_information" class="row row-centered settings top_content" style="min-height: 600px">
        {% include 'settings/left_column.html' %}

        <div class="container col-md-4 col-centered">
            <h1>PASSWORD</h1>
            Change your password or recover your password

            <form method="POST" action="{{ request.path }}?{{ request.query_string }}" class="form new-school" data-parsley-validate>
                {{ form.csrf_token }}
                {% if has_password_setup and not forgot_password %}
                <div class="form__row">
                    {{ form.current_password(**{
                        'data-parsley-required': 'true',
                        'data-parsley-trigger': 'blur',
                        }) }}
                    <label class="form__label">Current Password</label>
                    {{ base.errors(form.current_password.errors) }}
                </div>
                {% elif not forgot_password %}
                    <div class="line">
                        <p class="info">You've signed up with facebook so you don't have a password but you can set one up right now !</p>
                        <div class="clear"></div>
                    </div>

                {% endif %}

                <div class="form__row">
                    {{ form.password(**{
                        'data-parsley-required': 'true',
                        'data-parsley-trigger': 'blur',
                        })
                    }}
                    <label class="form__label">Create new password</label>
                    {{ base.errors(form.password.errors) }}
                </div>
                <div class="form__row">
                    {{ form.password_confirm(**{
                        'data-parsley-required': 'true',
                        'data-parsley-trigger': 'blur',
                        })
                    }}
                    <label class="form__label">Create new password</label>
                    {{ base.errors(form.password_confirm.errors) }}
                </div>
                {% if success_message %}
                <p class="warning">{{ success_message }}</p>
                {% endif %}
                 <button class="btn btn--large btn--blue">SAVE</button>
            </form>
        </div>
    </section>
</section>
<div class="clearfix"></div>
{% endblock content %}
