Hi {{ user.profile.firstname }}
<br/><br/>

We noticed that you haven't visited Sporple in a while, and that’s cool we understand that you’re stacked with managing clients and chasing new opportunities.<br/>
However in that time the Sporple community has grown significantly with more athletes, agents and clubs joining on a daily basis.
<br/><br/>

We put this platform together to help agents like yourself maximise your clients exposure and optimise your time when scouting new talent.<br/>
So we recommend you
<br/><br/>

1. <a href="http://www.sporple.com/{{ user.sport_slug }}">Login</a> to your profile <br/>
2. Ensure that your profile is up to date<br/>
3. Follow 3 athletes that you’d be interested connecting with or keeping an eye on<br/>
<br/><br/>

If we can help in anyway we’re only an email or tweet away!
<br/><br/>

Team at Sporple<br/>
team@sporple.com<br/>
@{{ sporple_sport_twitter }}<br/>
