/**
 * This is for the remaining base/globally applied styles that cannot be defined in the other Base folder stylesheets (e.g. colours, fonts etc.)
 *
 * @group css.base.base
 *
 * ## Usage
 * Import into your main file using
 *
 * @example
 *     @import "__base/base";
 *
 */

/**
 * Custom Resets
 */
 p, pre, blockquote, a, ul, ol, li, h1, h2, h3, h4, h5, h6, figure {
    margin:0;
    padding:0;
}

.row { margin: 0; padding: 0 }
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 { padding:0; }

p{
    margin-bottom: 10px;
}

/**
 * Global Styles
 */
body {
    background: #fff;
    color: $text-main;
}

img {
    // Responsive images
    max-width: 100%;
    height: auto;
    display:block;
}

iframe {
    border: 0;
    max-width: 100%;
}

.center {
    text-align: center;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}

.xs-text-left {
    @include mq($until: tablet) {
        text-align: left;
        padding-left: 15px;
    }
}
.xs-text-right {
    @include mq($until: tablet) {
        text-align: right;
    }
}
/**
* default remove list styles
*/
ul,
ol{
    list-style: none;
}

/**
* remove button styles
*/
button{
    background-color: transparent;
    border: none;
}

/**
* remove label styles
**/
label {
    margin: 0;
    font-weight: inherit;
}


/**
* Fix the box sizing
*/

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/**
* Accessibility Links
*/

.acc-links {
    top:80px;
    left: 10px;
    position: absolute;
    z-index: 500;
}

.acc-links li a {
	@include font(26, 30);
    opacity: 0.7;
    color:#fff;
    background:#000;
    padding:10px;
}



/**
* No Javascript/Browser Message
*/

.no-browser,
.no-script {
    background-color: #000;
    color: #fff;
    display: block;
    padding: 50px 20px;
    text-align: center;
    position:relative;
    z-index: 999;

    p {
        @include font(22, 28);
    }
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block !important;
    float:none !important;
    /* inline-block space fix */
    margin-right:-4px;
}

.card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

