/**
 * Here we define the colour variables that are used throughout the other stylesheets

 * @group css.base.colours
 *
 * ## Usage
 * Import into your main file using
 *
 * @example
 *     @import "__base/_colours.scss";
 *
 */

 $brand-blue: #01427E;

 $brand-orange: #f89d00;

 $brand-orange-over: #C75C16;

 $blue-secondary: #0060a8;

 $blue-bright: #018eff;

 $grey-lighter: #e0dede;

 $grey-light: #acacac;

 $grey-med: #6e6c6d;
   
 $grey-dark: #3f3e40;

 $grey-border: #c6c7c9;

 $grey-bg: #f5f5f5;

 $grey-blue: #ccdfee;

 $text-main: #1c1c1c;

 $error: #ff0000;

 $white: #fff;

 $black: #000;

 $blue: #4a90e2;

 $semi_black: rgba(0,0,0, 0.7);

 $transparent: rgba(255,0,0,0);
/**
 * Primary Colours
 *
 * Colour names: http://chir.ag/projects/name-that-color/
 */


